.profile-list{
    background:#fff;
    border-radius:3px;
    box-shadow: 1px 1px 1px #d8d8d8;
    .profile-pic{
        border-radius:50%;
        background:#ccc;
    }
}
.result-count{
    margin-bottom:15px;
}