<nav>
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-5 col-sm-12">
          <select name="cars" class="custom-select">
            <option selected>Sort By Name</option>
            <option>Name (A - Z)</option>
            <option>Name (Z - A)</option>
            <option>Rank ↑</option>
            <option>Rank ↓</option>
          </select>
        </div>
        <div class="col-lg-7 col-sm-12">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </div>
    </form>
  </div>
</nav>
